.app-page {
  min-height: 100vh; /* Set minimum height to cover the entire viewport */
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  background: linear-gradient(45deg, #4ecdc4, #556270); /* Gradient background */
  background-size: cover; /* Cover the entire background */
  background-repeat: no-repeat; /* Prevent background from repeating */
}

.app-page:hover {
  background: linear-gradient(45deg, #556270, #4ecdc4); /* Inverted gradient on hover */
  transition: background 0.3s ease-in-out; /* Smooth transition effect */
}
